.box {
    background-color: #CEF6EC;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1em;
}

.image {
    padding: 2em;
}

.type {
    padding: 2em;
}

body {
    padding: 2rem;
}

h4 {
    font-family: "open sans";
}

h2 {
    font-family: "Dancing Script";
}

h6 {
    font-family: "open sans";
}

.email {
    margin: 5rem;
}