.box {
    background-color: #CEF6EC;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1em;
}

.image {
    padding: 4em;
}

.type {
    padding: 2em;
}

body {
    padding: 2rem;
}

h3 {
    font-family: "open sans";
    font-size: 4em;
}

h1 {
    font-family: "Dancing Script";
    font-size: 8em;
}

