html {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.box {
    background-color: #CEF6EC;
    background-color: rgba(255,255,255,0.5);
    margin: 2rem;
    padding: 2rem;
    align-content: center;
}

.image {
    max-width: 100%;
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.type {
    padding: 2em;
    text-align: center;
}

body {
    padding: 2rem;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Lobster Two', cursive;
}

h6 {
    font-family: "open sans";
}

.email {
    margin: 5rem;
    padding-left: 0;
}

.fb {
    width: 10%;
    margin: 10px;
}

.in {
    width: 10%;
    margin: 10px;
}

.white {
    text-align: center;
}

@media only screen and (min-width: 30em) {
    .in {
        width: 10%;
    }
    .fb {
        width: 10%;
    }
    body {
        padding: 2rem;
    }
}
 
@media only screen and (min-width: 50em) {
    .fb {
        width: 7%;
    }
    .in {
        width: 7%;
    }
    .box {
        margin: 8rem;
    }
    body {
        padding: 4rem;
    }
}

@media only screen and (min-width: 60em) { 
    .fb {
        width: 4%
    }
    .in {
        width: 4%
    }
    .box {
        margin: 10rem;
    }
    body {
        padding: 6rem;
    }
}
